h1 {
color: red
}

body {
  background-color: #b3b3b3
}
p {
 color: red 
}
.intro {
display: inline;
  
}

.why {
 display: inline-flex; 
}

.gah {
 display:inline; 
}
  
@media only screen and (max-width : 800px) {
.why {
  display: inline-block;
   }
}
